h1.w3ls,
h2.agileits1 {
  text-transform: uppercase;
  color: #fff;
}
a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
mark,
menu,
nav,
nav li,
nav ul,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
var,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
nav.vertical ul li,
section {
  display: block;
}
.box-alert #close,
nav.horizontal ul li {
  display: inline-block;
}
ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
blockquote,
q {
  quotes: none;
}
blockquote:after,
blockquote:before,
q:after,
q:before {
  content: "";
  content: none;
}
#alertne {
  display: none;
  position: fixed;
  top: -50px;
  left: 0;
  right: 0;
  transform: translate(-50%, -50%);
  animation: 0.4s linear forwards hide;
}
.box-alert {
  background-color: #333;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  text-align: center;
  width: 30%;
  overflow: hidden;
  margin: 0 auto;
}
.box-alert #success {
  color: #fff;
  font-size: 20px;
  padding: 0 18px;
}
.box-alert #close {
  color: #fff;
  font-size: 20px;
  padding: 8px 16px;
}
.box-alert #close:hover {
  cursor: pointer;
  background-color: #fff;
  color: #000;
  border-radius: 5px;
}
@keyframes hide {
  0% {
    display: block;
    transform: translate(-50%, -200%);
    transform: translateY(-200%);
  }
  100% {
    transform: translate(-50%, 50%);
    transform: translateY(50%);
  }
}
@keyframes close {
  0% {
    transform: translate(-50%, 50%);
    transform: translateY(50%);
  }
  100% {
    transform: translate(-50%, -200%);
    transform: translateY(-200%);
    display: none;
  }
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a {
  text-decoration: none;
}
.txt-rt {
  text-align: right;
}
.txt-lt {
  text-align: left;
}
.txt-center,
h1.w3ls,
ul.social-agileinfo {
  text-align: center;
}
.float-rt {
  float: right;
}
.float-lt {
  float: left;
}
.clear {
  clear: both;
}
.pos-relative {
  position: relative;
}
.pos-absolute {
  position: absolute;
}
.vertical-base {
  vertical-align: baseline;
}
.vertical-top {
  vertical-align: top;
}
img {
  max-width: 100%;
}
.content-agile2 #alast a:hover {
  color: #3970b0 !important;
  text-decoration: underline;
}
body {
  background: url(../imgage/tải\ xuống.webp) center/cover no-repeat fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  font-family: Raleway, sans-serif;
  font-weight: 300;
}
h1.w3ls {
  font-size: 50px;
  padding: 40px 0;
}
.content-w3ls {
  background-color: rgb(0, 0, 0, 0.4);
  width: 70%;
  margin: 0 auto 50px;
  padding: 0;
}
.content-w3ls .content-agile1 {
  width: 50%;
  float: left;
  background: url(../imgage/tải\ xuống.webp) center/cover no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -ms-background-size: cover;
  height: 555px;
}
h2.agileits1 {
  font-size: 40px;
  font-weight: 400;
  text-align: Center;
  padding: 200px 0 15px;
  font-family: Monoton, cursive;
}
p.agileits2,
p.wthree {
  font-weight: 400;
  text-transform: capitalize;
}
p.agileits2 {
  font-size: 15px;
  color: #fff;
  text-align: center;
}
.content-w3ls .content-agile2 {
  width: 50%;
  float: left;
  padding: 25px 0 0;
}
input#email,
input#password1,
input#password2,
input#username {
  width: 300px;
  height: 50px;
  padding: 0 15px;
  color: #fff;
  font-size: 17px;
  font-weight: 200;
  background-color: transparent;
  border-bottom: 5px solid #fff;
  border-top-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
  font-family: Raleway, sans-serif;
  margin: 0 auto 20px;
  display: block;
  outline: 0;
}
input#email:focus,
input#email:hover,
input#password1:focus,
input#password1:hover,
input#password2:focus,
input#password2:hover,
input#username:focus,
input#username:hover {
  color: #fff;
  border-bottom: 5px solid #3970b0;
}
input::-webkit-input-placeholder {
  color: #fff !important;
}
input:-moz-placeholder {
  color: #fff !important;
}
input::-moz-placeholder {
  color: #fff !important;
}
input:-ms-input-placeholder {
  color: #fff !important;
}
input:hover::-webkit-input-placeholder {
  color: #3970b0 !important;
}
input:hover:-moz-placeholder {
  color: #3970b0 !important;
}
input:hover::-moz-placeholder {
  color: #3970b0 !important;
}
input:hover:-ms-input-placeholder {
  color: #3970b0 !important;
}
input.register {
  width: 335px;
  margin: 30px auto;
  display: block;
  height: 50px;
  text-align: center;
  font-size: 17px;
  font-weight: 400;
  color: #fff;
  background-color: #3970b0;
  border-color: transparent;
  font-family: Raleway, sans-serif;
  transition: 0.5s ease-in-out;
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  -ms-transition: 0.5s ease-in-out;
  cursor: pointer;
}
p.copyright,
p.wthree {
  font-size: 16px;
  text-align: center;
}
input.register:hover {
  color: #fff;
  background-color: #3970b0;
}
p.wthree {
  color: #fff;
  padding-bottom: 20px;
}
ul.social-agileinfo li {
  display: inline-block;
  margin: 0;
}
ul.social-agileinfo li a i.fa {
  width: 40px;
  height: 40px;
  border: 1px solid #fff;
  text-align: center;
  line-height: 40px;
  color: #fff;
}
ul.social-agileinfo li a i.fa.fa-facebook:hover {
  background-color: #3b5998;
  color: #fff;
  border-color: #3b5998;
}
ul.social-agileinfo li a i.fa.fa-twitter:hover {
  background-color: #1da1f2;
  color: #fff;
  border-color: #1da1f2;
}
ul.social-agileinfo li a i.fa.fa-youtube:hover {
  background-color: #cd201f;
  color: #fff;
  border-color: #cd201f;
}
ul.social-agileinfo li a i.fa.fa-google-plus:hover {
  background-color: #dd4b39;
  color: #fff;
  border-color: #dd4b39;
}
ul.social-agileinfo li a i.fa:hover {
  -webkit-animation: 2s linear infinite spin;
  animation: 2s linear infinite spin;
  -moz-animation: 2s linear infinite spin;
  -o-animation: 2s linear infinite spin;
  -ms-animation: spin 2s linear infinite;
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
p.copyright {
  color: #dadada;
  line-height: 30px;
  padding: 20px 10px;
}
p.copyright a {
  color: #f15f22;
}
p.copyright a:hover {
  color: #36b051;
}
@media (max-width: 1600px) {
  h2.agileits1 {
    padding: 225px 0 15px;
  }
}
@media (max-width: 1366px) {
  h2.agileits1 {
    padding: 235px 0 15px;
  }
}
@media (max-width: 1080px) {
  h1.w3ls {
    font-size: 40px;
  }
  .content-w3ls {
    width: 80%;
    margin: 0 auto 40px;
  }
  p.agileits2,
  p.copyright,
  p.wthree {
    font-size: 14px;
  }
  input#email,
  input#password1,
  input#password2,
  input#username {
    font-size: 15px;
  }
}
@media (max-width: 1024px) {
  h1.w3ls {
    padding: 30px 0;
    font-size: 35px;
  }
}
@media (max-width: 991px) {
  h2.agileits1 {
    padding: 230px 0 15px;
  }
  .content-w3ls {
    width: 90%;
  }
}
@media (max-width: 800px) {
  input#email,
  input#password1,
  input#password2,
  input#username {
    width: 260px;
  }
  input.register {
    width: 295px;
  }
  p.agileits2 {
    font-size: 14px;
    line-height: 30px;
    padding: 0 10px;
  }
}
@media (max-width: 768px) {
  h2.agileits1 {
    padding: 210px 0 15px;
  }
}
@media (max-width: 736px) {
  .content-w3ls .content-agile1 {
    width: 100%;
    height: 250px;
  }
  h2.agileits1 {
    padding: 75px 0 15px;
  }
  .content-w3ls .content-agile2 {
    width: 100%;
    padding: 25px 0 30px;
  }
  .content-w3ls {
    width: 65%;
  }
}
@media (max-width: 600px) {
  h2.agileits1 {
    padding: 65px 0 10px;
  }
}
@media (max-width: 568px) {
  .content-w3ls {
    width: 70%;
  }
}
@media (max-width: 480px) {
  h2.agileits1 {
    font-size: 35px;
  }
}
@media (max-width: 414px) {
  h1.w3ls {
    padding: 25px 0;
    font-size: 30px;
  }
  .content-w3ls {
    width: 85%;
    margin: 0 auto 10px;
  }
}
@media (max-width: 384px) {
  input#email,
  input#password1,
  input#password2,
  input#username {
    width: 230px;
    height: 40px;
  }
  input.register {
    width: 260px;
    height: 45px;
  }
  p.wthree {
    font-size: 14px;
    padding: 0 15px 20px;
    line-height: 30px;
  }
}
@media (max-width: 375px) {
  h1.w3ls {
    padding: 25px 0;
    font-size: 27px;
  }
  h2.agileits1 {
    font-size: 25px;
    padding: 43px 0 10px;
  }
  .content-w3ls .content-agile1 {
    width: 100%;
    height: 200px;
  }
}
@media (max-width: 320px) {
  h1.w3ls {
    padding: 25px 0;
    font-size: 24px;
  }
  .content-w3ls .content-agile1 {
    width: 100%;
    height: 180px;
  }
  h2.agileits1 {
    font-size: 22px;
    padding: 37px 0 10px;
  }
  p.agileits2,
  p.copyright {
    font-size: 13px;
  }
  input#email,
  input#password1,
  input#password2,
  input#username {
    width: 195px;
    height: 40px;
    font-size: 14px;
  }
  .content-w3ls {
    width: 90%;
    margin: 0 auto;
  }
  input.register {
    width: 230px;
    height: 40px;
    font-size: 15px;
  }
  p.wthree {
    font-size: 13px;
    padding: 0 15px 15px;
  }
}
.content-agile2 #submitform:hover {
  background-color: #36b051;
}
