extends ../../layout/default.pug

block headExtra
    link(rel='stylesheet', href='../../../../css/stylesearch.css')
    link(rel="stylesheet", href="../../../../css/searchresponsive.css")
    link(rel="stylesheet", href="../../../../Icon/themify-icons/themify-icons.css")
    
block header
  include ../../partials/header
  include ../../partials/searchmain


  
block content
  .main-content
    .mainhotro 
    .content
      .container
        +show(film, name)

  script.
    let part = window.location.pathname.split("/");
    let num = parseInt(part[3].split("-")[1]);
    let leng = !{JSON.stringify(leng)}
    console.log(num);
    

  script(src="../../../../js/phantrang.js") 
  script(src="../../../../js/phantrang.api.js") 
  
//- block footer 
//-   include ../../partials/footer